    
    /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #ffffff; background-image: url(""); background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } 

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  top: 38%;
  left: 0;
  right:0;
  color: purple;
}
.main-subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  top: 50%;
  left: 0;
  right:0;
  
}

.disintegration-container {
  position: absolute;
  pointer-events: none;
}
.disintegration-container > canvas {
  position: fixed;
 /* left: 0;
  top: 0;*/
  text-align: center;
  top: 38%;
  left: 0;
  right:0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  opacity: 1;
  transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
  background-color: transparent;
  width:1349px;
}

@keyframes debug-pulse {
  0% {
    filter: none;
  }
  95% {
    filter: none;
  }
  95% {
    filter: drop-shadow(0 1px 0 red);
  }
  100% {
    filter: drop-shadow(0 1px 0 red);
  }
}
/* == Normal styling below == */
/*body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: Roboto, sans-serif;
}

.item {
  max-width: 60ch;
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.item h1 {
  margin-top: 0;
}
.item p {
  margin-bottom: 0;
}
.item img {
  float: right;
}
*/

.nav-link{
  text-align: center;
}